<section data-ng-controller="HomeController">
	 <div class="about-you-div-img">
	 	<div class="pos-relative">
	        <div class="about-you-div pos-absolute col-md-offset-2 col-md-8">
	            <div class="about-first-div text-center"><p>ABOUT YOU</p></div>
	            <div class="about-second-div text-center"><p>We do things a bit differently around here.</p></div>
	        </div>
	    </div>
    </div>
    <div class="container">
    	<div class="row">
	    	<div class="col-md-6">
	    		<div class="col-md-12">
		    		<h4>WHAT GENESIS MEANS FOR OUR <b>TALENT.</b></h4>
		    	</div>
	    		<div class="col-md-12">
	    			<p><b><u>Total Disclosure: </u></b>one of our consultants once said “I know exactly where I stand with Genesis.  How much they are billing the client, how much of that bill rate I am being paid, what makes me valuable to them and the client and what skills I should further develop to become more valuable.”</p>
					<p><b><u>Honesty and Integrity:</u></b>Honesty and Integrity: Genesis conducts its business with the highest level of business integrity. That’s part of why we succeed.</p>
					<p><b><u>Guidance:</u></b>As with any family member, we have your interests at heart.  We guide you throughout the entire hiring process to help you be successful.</p>	
					<p><b><u>Fair rates:</u></b>Our business model allows us to pay our consultants at a higher rate than most.  We stay lean on the administrative side so that we can pass those dollars onto our talented consultants.</p>
					<hr>
	    		</div>
	    	</div> 
 	    	<div class="col-md-6">
	    		<div class="col-md-12">
		    		<h4>WHAT GENESIS MEANS FOR OUR <b>CLIENTS.</b></h4>
		    	</div>
	    		<div class="col-md-12">
	    			<p><b><u>Large talent pool:</u></b>We have the ability to seek out the hard-to-find talent.“Unlimited resources to optimize your most important asset”.<p>
					<p><b><u>Diverse set of Skills:</u></b>We have expertise across a wide range of disciplines with insight into industry developments and emerging technologies.</p>
					<p><b><u>Get what you pay for:</u></b>because of the Genesis business model, you get <b><u>exceptionally</u></b> high level consulting services at a fair price.</p>
					<hr>
				</div>
    		</div>
	    </div>
    </div>
</section>