<section data-ng-controller="HomeController">
	 <div class="connect-div-img">
        <div class="connect-div">
            <div class="put text-center">CONNECT</div>
            <div class="period text-center">We're all about communication.</div>
        </div>
    </div>
    <div class="container">
    	<div class="row">
    		<div class="col-md-12">
	    		<h3>SOMETIMES YOU JUST HAVE A QUESTION.</h3>
				<p>Doesn’t mean you want to have a whole conversation about it. We get that. Shoot us a line. We’ll respond quickly. Promise.</p>
			</div>
			
    	</div>
    </div>
</section>