<section class="container" data-ng-controller="HomeController">
	<div class="row vision">
		<div class="col-md-offset-1 col-md-10">
			<h2>Would you consider doing business with?</h2>
			<ul>
				<li>A company that saved a leading worldwide pharmaceuticals company over $15 Million per year by conceiving, architecting, prototyping and developing a new web-based Clinical Trials Registration and Medication Ordering System for international usage.</li>
				<li>A company that saved a major credit card bank over $1.2 Million per year in resource costs and related processing fees by conceiving, architecting and developing a Scenario Processing System that simplifies and, under some circumstances, entirely automates the processing of cardholder disputes and charge back requests, processing the equivalent workload of 30-40 specialists.</li>
				<li>A company that assisted an international investment firm in building a leading edge administration system that enables new investment products to be developed in weeks instead of months, capturing high margin investment clients in a rapidly changing and competitive environment.</li>
				<li>A company that helped a major credit card bank to develop and deploy an internet banking arm in less than 6 months by providing technical leadership in a multi-vendor environment.</li>
				<li>A  company that has mentored a regional IT organization and helped to build a web development center of excellence, enabling this large government agency to deliver high volume financial transactions to its regional branches nationwide.</li>
			</ul>
		</div>
	</div>
</section>
