<section data-ng-controller="HomeController">
    <footer class="group">
        <div class="container">
        	<div>
	        	<div class="col-md-12 group">
		            <ul class="top-footer">
		            	<li class="pull-left social-icon-list"><a class="put-margin" href="/#!"><i class="fa fa-envelope icon-envelope"></i></a></li>
						<li class="pull-left social-icon-list"><a class="put-margin" href="/#!"><i class="fa fa-twitter social-icon-twitter"></i></a></li>
						<li class="pull-left social-icon-list"><a class="put-margin" href="/#!"><i class="fa fa-linkedin social-icon-linkedin"></i></a></li>
		            </ul>
		        </div>
	            <div class="footer">
	                <div class="col-md-4">
	                    <p class="text-center">COPYRIGHT</p>
	                    <p class="text-center">2014 GenesisMicroSolutions,Inc.</p>
	                    <p class="text-center">All Rights Reserved</p>
	                </div>
	                 <div class="col-md-4">
	                    <p class="text-center">CALL NOW</p>
	                    <p class="text-center">646.688.5640</p>
	                </div>
	                 <div class="col-md-4 footer-link">
	                    <p class="text-center">WANT TO KNOW WHAT REALLY</p>
	                    <p class="text-center">GOES ON AROUND HERE?</p>
	                    <div class="text-center"><p>Visit&nbsp;<a href= "#">&nbsp;Lenny's Doghouse</a></p></div>
	                </div>
	            </div>
	        </div>
        </div>
    </footer>
</section>