<section data-ng-controller="HomeController">
	<div class="text-center">
		<div class="row">
			<div ng-view></div>

		   <footer class="group">
		   		
		        <div>
		            <div class="top-footer">
		                <img src="">
		                <img src="">
		                <img src="">
		            </div>
		            <div>
		                <div class="col-md-4">
		                    <p class="text-center">COPYRIGHT</p>
		                    <p class="text-center">2013 RedStreamTechnology</p>
		                    <p class="text-center">All Rights Reserved</p>
		                </div>
		                 <div class="col-md-4">
		                    <p class="text-center">CALL NOW</p>
		                    <p class="text-center">646.688.5640</p>
		                </div>
		                 <div class="col-md-4">
		                    <p class="text-center">WANT TO KNOW WHAT REALLY</p>
		                    <p class="text-center">GOES ON AROUND HERE?</p>
		                    <div class="text-center"><p>Visit<a href= "#">Lenny's Doghouse</a></p></div>
		                </div>
		            </div>
		        </div>
		    </footer>

		</div>
	</div>
</section>