<div class="container" data-ng-controller="HeaderController">
    <div class="header col-md-12 col-xs-12">
        
        <div class="col-md-4">
            <h4>GENESIS MICRO SOLUTIONS, INC.</h4>
        </div>
        <!-- Desktop menu -->
        <div class="menu col-md-6 col-xs-12 hidden-xs pull-right">
            <ul>
                <li class="navi"><a href= "#!/about-us">ABOUT US</a></li>                     
                <li class="navi"><a href= "#!/about-you">ABOUT YOU</a></li>
                <li class="navi"><a href= "#!/insights">INSIGHTS</a></li>
                <li class="navi"><a href="#!/connect">CONNECT</a></li>    
            </ul>
        </div>

        <!-- MOBILE MENU -->
        <!-- <select class="visible-xs col-xs-12 mobile-menu">
            <option>ABOUT US</option>
            <option>ABOUT YOU</option>
            <option>INSIGHTS</option>
            <option>CONNECT</option>
        </select>
    </div>
    <div>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul> -->
    </div>
</div>