<section data-ng-controller="HomeController" class="home">
    <div class="side-bar">
        <ul class="scroll-balls">
            <li class="side-nav">
                <a class="scroll" id="scroll-balls" scrollOnClick data-ng-href="/#!/top" data-ng-click="gotoElement('top')" ng-class="{active:selected=='top'}">
                    <span class="scroll-span">UNLIMITED RESOURCES TO OPTIMIZE YOUR MOST IMPORTANT ASSET</span>
                </a>
            </li>
            <li class="side-nav">
                <a class="scroll" scrollOnClick data-ng-href="/#!/candidates" data-ng-click="gotoElement('candidates')" ng-class="{active:selected=='candidates'}">
                    <span class="scroll-span">FOR CANDIDATES</span>
                </a>
            </li>

            <li class="side-nav">
                <a class="scroll" scrollOnClick data-ng-href="/#!/clients" data-ng-click="gotoElement('clients')" ng-class="{active:selected=='clients'}">
                    <span class="scroll-span">FOR CLIENT</span>
                </a>
            </li>

            <li class="side-nav">
                <a class="scroll" scrollOnClick ssdata-ng-href="/#!/meet" data-ng-click="gotoElement('meet')" ng-class="{active:selected=='meet'}">
                    <span class="scroll-span">MEET TEAM MICROGENESIS</span>
                </a>
            </li>
        </ul>
    </div>
    <section id="container">
        <section id="top">
            <section class="first-div-img img-responsive">
                <div class="first-div pos-relative">
                    <div class="pos-absolute home-first-text col-md-offset-2 col-md-8">
                        <div class="put text-center">UNLIMITED RESOURCES TO OPTIMIZE YOUR MOST IMPORTANT ASSET:</div>
                        <div class="period text-center col-md-offset-4 col-md-4">
                            <em>PEOPLE</em>
                        </div>
                    </div>
                    <img src="/modules/core/img/scroll.png" class="scrolldown pos-absolute">
                </div>
            </section>
            <div>
                <div class="second-div">
                    <div class="wrapper group">
                        <div class="row">
                            <h4 class="text-center">STAFFING PRACTICES THAT EXCEED CUSTOMER EXPECTATIONS.</h4>
                            <hr class="divider">
                            <div class="col-md-6">
                                <h4 class="text-center">CUSTOMER FOCUSED</h4>
                                <hr>
                                <p>A company that since 1989 has provided highly experienced IT professionals to our clients utilizing best practices to achieve and often exceed the results that our clients expect.</p>
                            </div>
                            <div class="col-md-6">
                                <h4 class="text-center">QUALITY DRIVEN</h4>
                                <hr>
                                <p>Our high-touch, hands-on approach promotes a deep relationship with our customers and translates to a greater understanding of your needs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6 text-center">
                            <p>CUSTOMER FOCUSED</p>
                        </div>
                        <div class="col-md-6 text-center">
                            <p>QUALITY DRIVEN</p>
                        </div>



                        <!-- <p><b>WHAT DOES THIS MEAN FOR YOU?If you're looking to be hired, it means a more satisfying placement. If you're hiring, itmeans getting the highest rate of return on your staffing investment. How do we do it?<a href="/#!/our_vision">HERE'S THE SHORT ANSWER.</a>
                        </p> -->
                    </div>
                    <div class="text-center">
                        <p>Genesis Micro Solutions: WE LISTEN. WE PROVIDE. YOU SUCCEED!
                            <p>
                                <p><a href="/#!/our_vision">HERE'S THE SHORT ANSWER</a>
                                </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="candidates">
            <section class="third-div-img img-responsive">
                <section class="third-div pos-relative">
                    <section class="candidates-div pos-absolute col-md-offset-2 col-md-8">
                        <section class="row">
                            <section class="candidates">
                                <p class="text-center">FOR CANDIDATES</p>
                            </section>
                            <section class="work col-md-offset-3 col-md-5">
                                <p class="text-center">How can we help you?</p>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
            <section class="container text-center">
                <section class="row candidates-wrapper">
                    <h4 class="text-center">DEFINING THE MOVE THAT’S RIGHT FOR YOU.</h4>
                    <section class="col-md-offset-2 col-md-4">
                        <p class="text-justify">At Genesis, we know that whether you’re a consultant or full-time hire, it’s more than a job. It’s your career. So it’s got to be about more than the rewards, it's about people, the work environment, the culture of the company and your quality of life.</p>
                    </section>
                    <section class="col-md-4">
                        <p class="text-justify">We take all of those things into consideration when looking for your next career move. We study your resume, interview with passion, get to know you and match you with opportunities that fit your skill set, personality and life style.</p>
                        <br>
                        <br>
                    </section>
                    <section class="col-md-12">
                        <p class="our-job text-center">We Listen. We Provide. You Succeed!</p>
                        <hr class="divider">
                        <p class="text-center"><a href="/#!">SUBMIT YOUR RESUME HERE</a>
                            <div>

                                <form data-ng-submit="uploadResume()">

                                    <div style="margin-bottom: 25px" class="form-group">
                                        <label for="namefield">

                                        </label>
                                        <input type="text" ng-model="name" placeholder="Enter your name">
                                        <label class="control-label col-xs-2">Upload CV, in .pdf or .doc</label>
                                        <div class="col-xs-10">
                                            <input type="file" class="form-control" data-ng-file-select="onFileSelect($files)" accept="application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/pdf" required/>
                                            <span class="text text-danger" ng-show="files && !correctFormat">File formats allowed are doc, docx and pdf</span>
                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-default" ng-disabled="name.length<5">
                                    </div>
                                    <div data-ng-show="error" class="text-danger">
                                        <strong data-ng-bind="error"></strong>
                                    </div>
                                </form>
                            </div>
                        </p>
                    </section>
                </section>
            </section>
        </section>
        <section id="clients">
            <section class="fifth-div-img img-responsive">
                <section class="fifth-div pos-relative">
                    <section class="clients-div pos-absolute col-md-offset-2 col-md-8 text-center">
                        <div class="clients col-md-offset-3 col-md-6">
                            <p>FOR CLIENTS</p>
                        </div>
                        <div class="deliver col-md-offset-2 col-md-8">
                            <p>Count on us to find your next superstar.</p>
                        </div>
                    </section>
                </section>
            </section>
            <section class="container">
                <section class="row clients-wrapper">
                    <div class="col-md-offset-1 col-md-10 text-center">
                        <h4 class="home-clients text-center">IT IS THE MISSION OF GENESIS TO SUPPORT OUR CUSTOMERS IN MEETING THEIR GOALS THROUGH THEIR MOST VALUABLE RESOURCE - THEIR PEOPLE</h4>
                        <div>
                            <section class="col-md-6">
                                <p class="text-justify">Our clients tell us that they struggle to find good technology talent, wasting time with off target candidates as well as losing time ramping up new hires. With Genesis you get on-target, immediately productive talent the first time every time.
                                </p>
                            </section>
                            <section class="col-md-6">
                                <p class="text-justify">
                                    We will present you with well vetted candidates, eager to get started and fully capable of completing the task at hand. We understand that this is an investment you can’t afford to get wrong.
                                </p>
                            </section>
                            <section class="col-md-12">
                                <hr>
                                <a href="/#!/customer-success-story">customer success stories</a>
                            </section>
                        </div>
                    </div>
                </section>
            </section>
        </section>
        <section id="meet">
            <section class="seventh-div-img img-responsive">
                <section class="seventh-div pos-relative">
                    <section class="pos-absolute meet-team-div col-md-offset-2 col-md-8">
                        <section class="meet-team col-md-offset-2 col-md-8">
                            <p class="text-center">Meet Team Genesis</p>
                        </section>
                        <section class="our-team col-md-offset-2 col-md-8">
                            <p class="text-center">This is our A-Team. There is no B-Team.</p>
                        </section>
                    </section>
                </section>
            </section>
            <section class="container">
                <section class="row team-gallery text-center">
                    <section class="gallery-quote">
                        <p>By definition Genesis means: “the origin or coming into being of something”</p>
                        <p>“From its origin, Genesis has been leading the way to provide an outstanding customer experience.”</p>
                        <p>Bob Bonstingl, President Genesis Micro Solutions, Inc.</p>
                    </section>

                    <section class="team group pos-relative">
                        <section>
                            <ul class="gallery">
                                <li>
                                    <img src="/modules/core/img/staff1.jpg" alt="" class="img-thumbnail" />
                                </li>
                                <li>
                                    <img src="/modules/core/img/staff2.jpg" alt="" class="img-thumbnail" />
                                </li>
                                <li>
                                    <img src="/modules/core/img/staff3.jpg" alt="" class="img-thumbnail" />
                                </li>
                                <li>
                                    <img src="/modules/core/img/staff4.jpg" alt="" class="img-thumbnail" />
                                </li>
                            </ul>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
    <section class="scroll-to-top pos-absolute">
        <a href="/#!/#top" ng-click="gotoTop()" class="scrollup">
            <img src="/modules/core/img/scrollup.png">TOP
        </a>
    </section>
</section>
