<section data-ng-controller="HomeController">
	<div class="side-bar">
		<ul class="scroll-balls">
			<li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('top')"><span class="scroll-span">PUTTING THE RIGHT PEOPLE IN THE RIGHT JOBS.</span></a></li>
			<li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('candidates')"><span class="scroll-span">FOR CANDIDATES</span></a></li>
			<li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('clients')"><span class="scroll-span">FOR CLIENT</span></a></li>
			<li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('meet')"><span class="scroll-span">MEET TEAM MICROGENESIS</span></a></li>
		</ul>
	</div>

	<section id="top">
		<div class="first-div-img">
			<div class="first-div">
				<div>PUTTING THE RIGHT PEOPLE IN THE RIGHT JOBS.</div>
				<div>Period.</div>
			</div>
		</div>
    </section>
	<section id="candidates">
		<div class= "container">
			<div class="row">
				<h1>RECRUITMENT FOR I.T. SPECIALISTS AND THE COMPANIES THAT HIRE THEM.</h1>
				<div class="col-md-6">
					<h1 class="text-center">WORK.</h1>
					<p>A trusted advisor to candidates and clients, RedStream<br>has connected exceptional I.T. professionals to<br> extraordinary career opportunities since 2007.</p>
				</div>
				<div class="col-md-6">
					<h1 class="text-center">HIRE</h1>
					<p>Our boutique size and high-touch, hands-on approach promote deep relationships with our stakeholders and translate to a greater understanding of their needs.</p>
				</div>
				<hr>
				<div class="col-md-12">
					<p><b>WHAT DOES THIS MEAN FOR YOU?</b>If you're looking to be hired, it means a more satisfying placement. If you're hiring, it means getting the highest rate of return on your staffing investment. How do we do it? HERE'S THE SHORT ANSWER.
	RedStream_Tag.jpg</p>
				</div>
				<div class="text-center">
					<img src="/modules/core/img/RedStream_Tag.jpg">
				</div>

			</div>
		</div>
    </section>
	<section id="clients">
		<div class="third-div-img">
			<div class="third-div"></div>
		</div>
	</section>
		<div>
			<p>At RedStream Technology, we know that whether you’re a consultant or full-time hire, it’s more than a job. It’s your career. It’s where you spend more than half your waking hours. So it’s got to be about more than the day-to-day work or even the paycheck. It’s about personalities. Environment. Culture. Quality of life stuff.</p>
			<hr>
			<p><b>WHAT DOES THIS MEAN FOR YOU?</b>If you're looking to be hired, it means a more satisfying placement. If you're hiring, it means getting the highest rate of return on your staffing investment. How do we do it? HERE'S THE SHORT ANSWER.
	RedStream_Tag.jpg</p>
		</div>
	<section>
	</section>
	<section id="meet">
		<div class="fifth-div-img">
			<div class="fifth-div">
			</div>
		</div>
	</section>
	 <a ng-click="gotoTop()">Top</a>
	<a href="/#!/#top" class="scroll-top" title="Scroll to Top">Top</a>
</section>


