<section data-ng-controller="HomeController">
    <div class="side-bar">
        <ul class="scroll-balls">
            <li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('top')"><span class="scroll-span">PUTTING THE RIGHT PEOPLE IN THE RIGHT JOBS.</span></a></li>
            <li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('candidates')"><span class="scroll-span">FOR CANDIDATES</span></a></li>
            <li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('clients')"><span class="scroll-span">FOR CLIENT</span></a></li>
            <li class="side-nav"><a class="scroll" scrollOnClick data-ng-href="/#!" data-ng-click="gotoElement('meet')"><span class="scroll-span">MEET TEAM MICROGENESIS</span></a></li>
        </ul>
    </div>

    <section id="top">
        <div class="first-div-img">
            <div class="first-div">
                <div class="put text-center">PUTTING THE RIGHT PEOPLE<br>IN THE RIGHT JOBS.</div>
                <div class="period text-center">Period.</div>
            </div>
        </div>
        <div class= "container">
            <div class="row">
                <h1>RECRUITMENT FOR I.T. SPECIALISTS AND THE COMPANIES THAT HIRE THEM.</h1>
                <div class="col-md-6">
                    <h1 class="text-center">WORK.</h1>
                    <p>A trusted advisor to candidates and clients, RedStream<br>has connected exceptional I.T. professionals to<br> extraordinary career opportunities since 2007.</p>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center">HIRE</h1>
                    <p>Our boutique size and high-touch, hands-on approach<br> promote deep relationships with our stakeholders and<br>translate to a greater understanding of their needs.</p>
                </div>
                <div class="col-md-12">
                    <hr>
                    <p><b>WHAT DOES THIS MEAN FOR YOU?</b>If you're looking to be hired, it means a more satisfying placement. If you're hiring, it<br> means getting the highest rate of return on your staffing investment. How do we do it? <a href="/#!">HERE'S THE SHORT ANSWER.</a>
                </p>
                </div>
                <div class="text-center">
                    <img src="/modules/core/img/RedStream_Tag.jpg">
                </div>
            </div>
        </div>
    </section>
    <section id="candidates">
        <div class="third-div-img">
            <div class="third-div">
                <div>FOR CANDIDATES</div>
                <div>Let's get to work.</div>
            </div>
        </div>
        <div class= "container">
            <div class="row">
                <h1>IT'S NOT OUR JOB. IT'S YOURS. AND THAT DRIVES EVERYTHING WE DO.</h1>
                <div class="col-md-6">
                    <p>At RedStream Technology, we know that whether you’re a<br>consultant or full-time hire, it’s more than a job. It’s your<br> career. It’s where you spend more than half your waking<br>hours. So it’s got to be about more than the day-to-day<br>work or even the paycheck. It’s about personalities.<br>Environment. Culture. Quality of life stuff.</p>
                </div>
                <div class="col-md-6">
                    <p>We take a global approach to recruitment, not only<br>learning about what you do, but who you are and what you<br>want. It’s that personal approach that ensures the right<br>people wind up in the right place.</p>
                    <p class="our-job">That’s our job.</p>
                </div>
                <div class="col-md-12">
                    <hr>
                    <p><b>WHAT DOES THIS MEAN FOR YOU?</b><a href="/#!">LEARN MORE</a>
                </p>
                </div>
            </div>
        </div>
    </section>
    <section id="clients">
        <div class="fifth-div-img">
            <div class="fifth-div"></div>
            <div>FOR CLIENTS</div>
            <div>Delivering a holistic approach to recruiting.</div>
        </div>
        <div class= "container">
            <div class="row">
                <h1>FAVORING PERSONAL INTERACTIONS OVER PAPER TRANSACTIONS.</h1>
                <div class="col-md-6">
                    <p>Anyone can read a resume. For us, that’s just the start of the process. Because a candidate is more than the sum of their professional experiences. We evaluate each of our candidates to ensure they don’t just have the know-how for the job, but the soft skills to
                    </p>
                </div>
                <div class="col-md-6">
                    <p>succeed in your environment. Then we deliver a small, exclusive subset from which to choose. At RedStream, we understand that getting it right isn't just an important decision, it's an investment you can't afford to get wrong.
                    </p>
                </div>
                <div class="col-md-12">
                    <hr>
                    <p><b>WHAT DOES THIS MEAN FOR YOU?</b><a href="/#!">LEARN MORE</a>
                </p>
                </div>
            </div>
        </div>
    </section>
    <section id="meet">
        <div class="seventh-div-img">
            <div class="seventh-div">
            </div>
            <div>MEET TEAM GENESISMICRO</div>
            <div>This is our A-Team. There is no B-Team.</div>
        </div>
        <div class= "container">
            <div class="row">
                
                <p>“When you work with RedStream, you get the power of collaboration among a team that’s persistently, intrepidly, tenaciously dedicated to your success. ”</p>
                <p>— Sioux Logan, Founder</p>
                
                <div class="team">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8 img-responsive">
                            <div class="picture-box">
                                <img src="/modules/core/img/staff1.jpg">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8  picture-box img-responsive">
                            <img src="/modules/core/img/staff2.jpg">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8  picture-box img-responsive">
                            <img src="/modules/core/img/staff3.jpg">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-8  picture-box img-responsive">
                            <img src="/modules/core/img/staff4.jpg">
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
     <a ng-click="gotoTop()">Top</a>
    <a href="/#!/#top" class="scroll-top" title="Scroll to Top">Top</a>
</section>

