<section data-ng-controller="HomeController">
	<div data-ng-controller="BlogsController" data-ng-init="displayBlog()">
		<div class="insights-div-img">
	        <div class="insights-div pos-relative">
	            <div data-ng-bind="blog.caption" class="insights-text text-center text-uppercase"></div>
	        </div>
	    </div>
	    <div class="container">
	    	<div class="row">
	    		<div class="blog">
	    			<div>
		    			<hr>
			            <ul class="insights-icon">
			            	<li class="pull-left"><a href="#!/community/2013-10-1-avoidable-mistakes" class="icon-comment"><span class="glyphicon glyphicon-comment"></span>&nbsp;{{blog.comments.length}}&nbsp;Comments</a></li>

							<li class="pull-left insights-icon-li"><span class="icon-like"><i data-ng-click="likeBlog()"  class="fa fa-heart"></i>&nbsp;{{blog.likes.length}}&nbsp;Likes</span></li>

							<li class="pull-left insights-icon-li"><span class="icon-share"><i class="fa fa-share-alt"></i>&nbsp;Share</span></li>

							<li class="pull-right"><a href="/#!/community/2013-10-1-avoidable-mistakes" ng-click="showDetails=true" class="insights-view-icon">View Post &rarr;</a></li>
			            </ul>
			            <hr class="group">
			        </div>
			        <div class="row insights">
			        	<div class="col-md-4">
			        		<h1 class="text-uppercase" data-ng-bind="blog.title"></h1>
			        		<p data-ng-bind="blog.created | date:longdate"></p>
			        	</div>
			            <div class="col-md-8">
			            	<p data-ng-bind="blog.blogContent"></p>
			        	</div>
			        </div>

		        </div>
	    	</div>
	    </div>
    </div>
    <div data-ui-view></div>
</section>


