<section class="container" data-ng-controller="HomeController">
	<div class="row vision">
		<section class="col-md-offset-1 col-md-10">
			<h1>Our Our Vision, Purpose and Core Values</h1>
			<p>At Genesis Micro Solutions, Inc (“GENESIS”), our vision, purpose, and core values are the foundation for everything we do. This allows us to focus on what is important. Disciplined execution distinguishes great companies. This core ideology—our vision, purpose, and values—is the heart and soul of GENESIS.
			</p>

			<h1>Vision</h1>
			<p>To be relentless in the pursuit of customer and consulting excellence.</p>

			<h1>Purpose</h1>
			<p>To provide excellent value to our customers.</p>

			<h1>Core Values</h1>
			</p>At GENESIS, we believe that living by a set of fundamental core values helps to define the true measure of a company. When all employees are aligned to fundamental guiding principles, companies consistently serve their customers and other stakeholders and deliver superior financial results that ensure long-term success. Our core values are:</p>
		</section>
	</div>
	<section class="row">
		<div class="col-md-offset-1 col-md-4">
			<h4>It Starts with the Customer</h4>
			<ul>
				<li>Reliable service is our key to growth.</li>	 
				<li>Grow by understanding and meeting needs.</li> 
				<li>Become easier to do business with.</li> 
				<li>Own their problems — earn their business.</li>
			</ul>
		</div>
		<div class="col-md-offset-1 col-md-4">
			<h4>People Make the Difference</h4> 
			<ul>
				<li>Every employee engaged and adding value.</li> 
				<li>Emphasis on professional and personal growth.</li> 
				<li>Expect a lot — have fun — celebrate success.</li> 
				<li>Treat each other with respect and dignity.</li>
			</ul> 
		</div>
	</section>
	<section class="row">
		<div class="col-md-offset-1 col-md-4">
			<h4>Fact-Based</h4>
			<ul>
				<li>Use customer-based performance measures.</li>
				<li>Fix the problem, not its symptoms.</li>
				<li>Improve performance with facts.</li>
				<li>Validate — don’t speculate.</li>	
			</ul>
		</div>
		<div class="col-md-offset-1 col-md-4">
			<h4>Right Results, Right Way</h4>
			<ul>
				<li>Reward our shareholders.</li>
				<li>Be a positive influence on communities and the environment.</li>
				<li>How you get there matters.</li>
				<li>Avoid fault-fixing.</li>	
			</ul>
		</div>
	</section> 
</section>
