<section class="content-margin" data-ng-controller="BlogsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Blogs</h1>
        <a  data-ng-href="#!/admin/viewBlog" class="btn btn-warning btn-sm">View Present Blog</a>
    </div>
    <div class="list-group">
        <a data-ng-repeat="blog in blogs" data-ng-href="#!/admin/blogs/{{blog._id}}" class="list-group-item">
            <h3>Blog Title <b data-ng-bind="blog.title "></b></h3>
            <p>Blog Caption <b data-ng-bind="blog.caption "></b></p>
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="blog.created | date:'medium'"></span>
				by
				<span data-ng-bind="blog.user.username"></span>
			</small>
            <div>
                <span data-ng-bind="blog.blogContent | limitTo:200"></span>
                <span data-ng-show="blog.blogContent.length > 200">...</span>
            </div>
            <p>Blog Author:<b data-ng-bind="blog.madeBy"></b>></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!blogs.$resolved || blogs.length">
    	No Blogs yet, why don't you <a href="/#!/admin/blogs/create">create one</a>?
    </div>
</section>

<!-- 
    </div> 
        <div class="addItems" data-ng-repeat="item in list.items">
            <div id="itemType"><p>{{item.itemType | uppercase}}</p></div>
            <div id="textDiv"><p>
                <input class="col-md-offset-1 col-md-10" id="textField" type="text" data-ng-model='item.itemTitle' placeholder='Item Title'></p><br>
            </div>
            
                <p><textarea id="itemDescription" type='text' data-ng-model='item.itemDescription' placeholder='Item Description'></p></textarea>
            
            <div><p>
                <textarea type='picture' id="pictureLink" data-ng-model='item.itemImageUrl' placeholder='Image Link' data-ng-if="item.itemType ==='picture'"></textarea></p>
            </div>
            <div><p>
                <input type='video' data-ng-model='item.itemVideoUrl' data-ng-if="item.itemType==='video'"placeholder='Video Link'/></p>
            </div><br>
             <div id="deletebutton">
                <input type='button' ng-click='removeItem($index)' value='Delete Item' class='btn btn-ok'/>
            </div>                                
        </div><br>
        <div id="buttons">
            <input type='button' ng-click='addText()' value='Add Text' class='btn btn-ok'/> 
            <input type='button' ng-click='addPicture()' class='btn btn-info' value='Add Image'/> 
            <input type='button' ng-click='addVideo()' value='Add Video' class='btn btn-warning'/>
        </div> -->