.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-design {
	/*fill: #000000;*/
}
.icon-html8 {
	/*fill: #000000;*/
}
.icon-men16 {
	/*fill: #000000;*/
}
.icon-share {
	/*fill: #000000;*/
}
.icon-google-drive {
	/*fill: #000000;*/
}
.icon-github {
	/*fill: #000000;*/
}
